.landing-page-diet {
    width : 90vw;
    height : 90vh;
    margin : auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.left-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex: 1;
}

.right-section {
    flex: 1;
    text-align: center;
}

svg {
    width: 100%;
    /* max-width: 500px; */
    /* Adjust the size as needed */
}

@media (max-width: 768px) {
    .landing-page {
        flex-direction: column;
    }
}